.env

# Godot-specific ignores
.import/
export.cfg

# Mono-specific ignores
.mono/
data_*/

# Project ignores
examples/SpaceShooter/assets/
examples/SpaceShooter/.import
examples/FlyBy/assets/
examples/FlyBy/.import
examples/BallChase/.godot/
examples/BulletHell/.godot/
examples/JumperHard/.godot/
examples/BallChase/.mono/
examples/SpaceShooter/.godot
examples/FlyBy/.godot
examples/FPS/.godot
examples/Racer/.godot
examples/GridWorld/.godot
examples/VirtualCamera/.godot
examples/*/bin

# Apple ignores
.DS_Store